.ck.ck-kmatk-form button {
  margin: 3px;
}

.ck.ck-kmath-textdiv {
  margin: 5px 10px;
}

.ck.ck-kmath-preview {
  margin: 8px 10px;
}

.ck.ck-kmath-textarea {
  margin: 0px 10px;
  min-width: 300px;
  border: 1px solid #ccc;
}
